@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
}
