.home_img {
  background-image: url(../../img/nike.png);
  height: 653.73px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home_img_text h1 {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 66px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: left;
}
.home_img_text {
  display: flex;
  align-items: center;
  padding-top: 250px;
}

.card_nikeairs {
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f6f6f6;
  position: relative;
  top: -100px;
}
.card_nike {
  position: relative;
  flex: 1;
  border-radius: 5px 0px 0px 0px;
  transition: 0.3s;
  padding: 25px;
  .card_img {
    text-align: center;
  }
}
.card_nike:hover {
  background-color: #e2e2e2;
  border-radius: 5px;
}
.nike_price {
  position: absolute;
  top: 310px;
}
.nike_big_price {
  display: flex;
  flex-direction: row-reverse;
}
.card_img img {
  margin-top: -50px;
}
.card_img h2 {
  color: rgb(34, 50, 99);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: center;
}
.nike_price p {
  color: rgb(144, 152, 177);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: left;
}
.nike_price b {
  color: rgb(251, 113, 129);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: left;
}
.nike_big_price h3 {
  color: rgb(64, 191, 255);
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 30%;
  letter-spacing: 0.5px;
  text-align: left;
}
.cards_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.cards_text_href {
  display: flex;
  align-items: center;
  gap: 40px;
}
.cards_text h1 {
  color: rgb(34, 38, 42);
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}
.cards_text_href p {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  height: 40px;
}
.cards_text_href p:hover {
  color: #33a0ff;
  border-bottom: 2px solid #33a0ff;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product_card {
  width: 312px;
  height: 389px;
  position: relative;
  border: 3px solid rgb(246, 247, 248);
}
.pro_text {
  position: relative;
  top: -15px;
}
.product_card_img {
  width: 100%;
  height: 279.12px;
  border-radius: 5px;
  object-fit: contain;
}
.product_card_img img {
  object-fit: contain;
}
.product_card_text {
  text-align: center;
  padding: 10px;
}
.product_card_text2 {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.product_card_text h3 {
  color: rgb(34, 50, 99);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: center;
}
.product_card_text2 h3 {
  color: rgb(64, 191, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.5px;
  text-align: center;
}
.product_card_text2 p {
  color: rgb(144, 152, 177);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration-line: line-through;
}
.product_card_text2 b {
  color: rgb(251, 113, 129);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: center;
}
.product_card_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards_text button {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  height: 40px;
  border: 0;
  background: 0;
}
.cards_text button:hover {
  color: rgb(51, 160, 255);
  border-bottom: 2px solid rgb(51, 160, 255);
}
.blue {
  background: rgb(64, 191, 255);
  height: 600px;
}
.blue_flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
.blue_text {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.blue_text h1 {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 52px;
  font-weight: 500;
  line-height: 83px;
  letter-spacing: 0%;
}
.blue_text p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.blue_text h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  height: 40px;
  border: 0;
  background: 0;
  color: white;
}
.blue_text h4:hover {
  border-bottom: 2px solid white;
  width: 107px;
  height: 40px;
}
.blue {
  margin-top: 150px;
}
.tex1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tex {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 20px;
  padding-top: 100px;
  flex-wrap: wrap;
}
.tex1 h3 {
  color: rgb(34, 38, 42);
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
}
.tex1 p {
  color: rgb(34, 38, 42);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
}
.blue_img img {
  margin-right: -200px;
}
.brends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  flex-wrap: wrap;
}
.brends h3 {
  color: rgb(34, 38, 42);
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}
.hh3 {
  padding-bottom: 70px;
}
.brend_bir {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.brend_text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.brend_text h3 {
  color: rgb(34, 38, 42);
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
.brend_text h4 {
  color: rgb(34, 38, 42);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
}

.brend_text p {
  color: rgb(193, 200, 206);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.brend_carts {
  display: flex;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.tony h3 {
  color: rgb(255, 72, 88);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.tony p {
  text-decoration: line-through;
}
.last {
  padding-left: 30px;
  padding-right: 30px;
}
.last_search {
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  max-width: 633px;
  height: 62px;
  margin: 0 auto;
  border: 2px solid rgb(188, 221, 254);
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.last_search input {
  flex: 2;
  border: 0;
  outline: 0;
  background: 0;
  padding: 20px;
  color: rgb(38, 38, 38);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
}
.last_search button {
  height: 60px;
  flex: 1;
  background: rgb(64, 191, 255);
  border: 0;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
}
@media (max-width: 600px) {
  .nike_big_price h3 {
    font-size: 24px;
  }
  .card_nikeairs {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: #f6f6f6;
    position: relative;
    top: -100px;
  }
  .card_nike {
    position: relative;
    flex: 1;
    border-radius: 5px 0px 0px 0px;
    transition: 0.3s;
    padding: 20px;
    .card_img {
      text-align: center;
    }
  }
  .card_nike:hover {
    background-color: #e2e2e2;
    border-radius: 5px;
  }
  .nike_price {
    position: relative;
    top: 10px;
  }
  .nike_big_price {
    display: flex;
    flex-direction: row-reverse;
  }
  .card_img img {
    margin-top: -50px;
    width: 200px;
    height: 200px;
  }
  .card_img h2 {
    color: rgb(34, 50, 99);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .nike_big_price h3 {
    font-size: 18px;
  }
  .card_nikeairs {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: #f6f6f6;
    position: relative;
    top: -100px;
  }
  .card_nike {
    position: relative;
    flex: 1;
    border-radius: 5px 0px 0px 0px;
    transition: 0.3s;
    padding: 20px;
    .card_img {
      text-align: center;
    }
  }
  .card_nike:hover {
    background-color: #e2e2e2;
    border-radius: 5px;
  }
  .nike_price {
    position: relative;
    top: 10px;
  }
  .nike_price p {
    font-size: 12px;
  }
  .nike_price b {
    font-size: 12px;
  }
  .nike_big_price {
    display: flex;
    flex-direction: row-reverse;
  }
  .card_img img {
    margin-top: -50px;
    width: 200px;
    height: 200px;
  }
  .card_img h2 {
    color: rgb(34, 50, 99);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .cards_text_href {
    gap: 25px;
  }
  .cards_text_href p {
    font-size: 12px;
  }
  .blue_img img {
    width: 200px !important;
    height: 200px !important;
    text-align: center;
    margin: 0 auto;
  }
  .brend_bir {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .last_search {
    max-width: 350px;
  }
}
@media (max-width: 1500px) {
  .blue_img img {
    width: 350px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
  }
  .blue {
    height: 100%;
  }
  .blue_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
